* {
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
  display: block;
}
.MuiGridListTile-tile {
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 30%;
  color: white;
  height: 100%;
  width: 100%;
}

.MuiGridListTile-tile:hover .overlay {
  opacity: 1;
  background: rgb(0, 0, 0) !important;
  background: rgba(0, 0, 0, 0.8) !important;
}

.MuiGridListTile-tile:hover img {
  opacity: 0.9;
  filter: grayscale(5%);
}

.like {
  background: white;
  color: black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 31px;
  position: absolute;
  bottom: 9px;
  right: 26px;
}

.like:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 5%;
  height: 40px;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.MuiGridListTile-tile:hover .tooltiptext {
  visibility: visible;
}
